.main-containers {
  background-color: #f4f4f4;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.matches-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.match-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.match-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.match-details {
  display: flex;
  /* justify-content: space-between;  */
  align-items: center; 
  gap: 15px; 
  width: 100%;
}

.match-details span {
  font-size: 14px;
  color: #555;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.match-details h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.match-details p {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #555;
}

.match-status {
  display: flex;
  gap: 10px;
}

.edit-delete-icons {
  display: flex;
  gap: 12px;
}

button.edit-btn,
button.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button.edit-btn:hover,
button.delete-btn:hover {
  transform: scale(1.1);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  transform: scale(1.2);
  cursor: pointer;
}
